- This notebook is a data preperation for train and test data.
- The model is query-productname two tower Nerual Network model.
- The aim for this model is to determine the relevance of product names to queries.

# load data(query-productID)

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_dataset = pd.read_csv("Dataset.csv")
print(df_dataset.shape)
df_dataset.head()

(2495116, 4)

                                 query  product_id esci_label      split
0          trellis for climbing plants  B00L5K420S          I  generated
1  bathroom countertop soap dispensers  B08FM2Q49N          E      train
2     gifts for 4 year old girls dress  B07477HKFR          I       test
3              amplifi gamer’s edition  B07HHHC8JB          E      train
4                  over watch t-shirts  B0027V2EXQ          I  generated

> I = irrelevant  
> E = exact

In [3]:
# check null in each columns
print(f"There are {df_dataset['product_id'].isnull().sum()} null cells in the product_id column.")
print(f"There are {df_dataset['query'].isnull().sum()} null cells in the query column.")
print(f"There are {df_dataset['esci_label'].isnull().sum()} null cells in the esci_label column.")
print(f"There are {df_dataset['split'].isnull().sum()} null cells in the split column.")

There are 0 null cells in the product_id column.
There are 0 null cells in the query column.
There are 0 null cells in the esci_label column.
There are 0 null cells in the split column.

In [4]:
# check unique value in each columns
print("Unique values: ")
print(f"product_id column: {df_dataset['product_id'].nunique()}")
print(f"query column: {df_dataset['query'].nunique()}")
print(f"esci_label column: {df_dataset['esci_label'].nunique()}")
print(f"split column: {df_dataset['split'].nunique()}")

Unique values:
product_id column: 1192578
query column: 97344
esci_label column: 2
split column: 3

In [5]:
df_products = pd.read_parquet("shopping_queries_dataset_products.parquet")
print(df_products.shape)
df_products.head()

(1814924, 7)

,product_id,product_title,product_description,product_bullet_point,product_brand,product_color,product_locale
0,B079VKKJN7,"11 Degrees de los Hombres Playera con Logo, Ne...",Esta playera con el logo de la marca Carrier d...,11 Degrees Negro Playera con logo\nA estrenar ...,11 Degrees,Negro,es
1,B079Y9VRKS,Camiseta Eleven Degrees Core TS White (M),None,None,11 Degrees,Blanco,es
2,B07DP4LM9H,11 Degrees de los Hombres Core Pull Over Hoodi...,La sudadera con capucha Core Pull Over de 11 G...,11 Degrees Azul Core Pull Over Hoodie\nA estre...,11 Degrees,Azul,es
3,B07G37B9HP,11 Degrees Poli Panel Track Pant XL Black,None,None,11 Degrees,None,es
4,B07LCTGDHY,11 Degrees Gorra Trucker Negro OSFA (Talla úni...,None,None,11 Degrees,Negro (,es

In [6]:
value_counts = df_products['product_locale'].value_counts()
print(value_counts)

product_locale
us    1215854
jp     339059
es     260011
Name: count, dtype: int64

# merge two dataframes together

join df_dataset and df_products, using Inner Join (how='inner')

In [7]:
df = df_dataset.merge(df_products, on = 'product_id', how = 'inner')
print(df.shape)
df.head()

(2532193, 10)

,query,product_id,esci_label,split,product_title,product_description,product_bullet_point,product_brand,product_color,product_locale
0,trellis for climbing plants,B00L5K420S,I,generated,"vitaminwater zero power c, electrolyte enhance...",None,20 FL OZ bottle of dragonfruit flavored + nutr...,vitaminwater,None,us
1,vitamin water zero,B00L5K420S,E,train,"vitaminwater zero power c, electrolyte enhance...",None,20 FL OZ bottle of dragonfruit flavored + nutr...,vitaminwater,None,us
2,bathroom countertop soap dispensers,B08FM2Q49N,E,train,"OBOR Automatic Soap Dispenser, Soap Dispenser ...",OBOR Automatic Soap Dispenser Touchless Hand Free,☞【FULLY AUTOMATIC AND TOUCHLESS】Soap dispenser...,OBOR,White,us
3,gifts for 4 year old girls dress,B07477HKFR,I,test,"PinkSheep Little Girl Jewel Rings in Box, Adju...",None,❀Original And Trendy Design--Designs of 24 rin...,PinkSheep,None,us
4,kid rings,B07477HKFR,E,train,"PinkSheep Little Girl Jewel Rings in Box, Adju...",None,❀Original And Trendy Design--Designs of 24 rin...,PinkSheep,None,us

In [8]:
print(f"There are {df['product_id'].isnull().sum()} null cells in the product_id column.")
print(f"There are {df['query'].isnull().sum()} null cells in the query column.")
print(f"There are {df['esci_label'].isnull().sum()} null cells in the esci_label column.")
print(f"There are {df['split'].isnull().sum()} null cells in the split column.")

There are 0 null cells in the product_id column.
There are 0 null cells in the query column.
There are 0 null cells in the esci_label column.
There are 0 null cells in the split column.

# Split train, test, generate datasets

In [12]:
# Filter rows where the 'split' column is 'train', 'test', and 'generate'
df_train = df[df['split'] == 'train']
df_test = df[df['split'] == 'test']
df_generated = df[df['split'] == 'generated']

In [13]:
print('Shape of df_train: ',df_train.shape)
print('Shape of df_test: ',df_test.shape)
print('Shape of df_generated: ',df_generated.shape)

Shape of df_train:  (1110335, 10)
Shape of df_test:  (325924, 10)
Shape of df_generated:  (1095934, 10)

In [14]:
325924/(325924+1110335)

0.22692564502641932

In [15]:
1110335/(325924+1110335)

0.7730743549735807

# save all datasets

In [16]:
# Save the DataFrame to a CSV file
df.to_csv('query_product_all.csv', index=False)
df_train.to_csv('query_product_train.csv', index=False)
df_test.to_csv('query_product_test.csv', index=False) 
df_generated.to_csv('query_product_generated.csv', index=False)